:root {
    --header-g1: #333333;
    --header-g2: #111111;

    --htg-g1: #594545;
    --htg-g2: #815B5B;
    --htg-g3: #9E7676;
    --htg-highlight-color: #FFF8EA;
}

* {
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background: radial-gradient(var(--header-g1), var(--header-g2));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

header img {
    width: 80px;
    filter: brightness(0) saturate(100%) invert(100%);
    margin-right: 30px;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

@font-face {
    font-family: Cocogoose;
    src: url("Cocogoose Pro Light-trial.ttf");
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

h1 {
    color: white;
    font-family: Cocogoose, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;

    animation: 1s ease-out 0s 1 slideInFromRight;
}

#about-me {
    background: #FFF8EA;
}

#about-me h2 {
    padding: 20px 20px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    color: #594545;
}

#about-me p {
    padding: 0 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 25px;
    color: #815B5B;
}

#about-me img {
    width: 100%;
}

.vlayout:not(.justify-left) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vlayout .justify-left {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hlayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

#help-the-gille {
    background: linear-gradient(
        135deg,
        var(--htg-g1),
        var(--htg-g2) 25%,
        var(--htg-g3) 50%,
        var(--htg-g2) 75%,
        var(--htg-g1) 100%
    );
}

.showcase {
    padding-top: 5em;
    width: 100%;
    box-shadow: 0px 30px 30px -30px #222222 inset;
}

.presentation h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--htg-highlight-color);
}

.presentation p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.presentation div {
    width: 15em;
    height: 30em;
    margin-right: 5em;
}

.presentation img {
    width: 20em;
    height: 30em;
    margin-right: 5em;
    cursor: pointer;

    border: var(--htg-highlight-color) 3px solid;
    transition: transform 500ms ease;
}

.presentation img:hover {
    transform: scale(1.05, 1.05);
}

.gallery {
    margin-top: 2em;
    
    width: 100%;
    height: 8em;
    background: rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: 12em;
    height: 6.75em;
    border: #111111 2px solid;
    margin: 3px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 300ms, transform 300ms ease;
}

.gallery img:hover {
    opacity: 1;
    transform: scale(1.02, 1.02);
}