html {
    font-size: medium;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(25, 25, 25);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3rem;
    padding-top: 2em;

    animation: 1s ease-out 0s 1 slideInFromBottom;
}

#subtitle {
    color: gray;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3rem;
    
    position: relative;
    top: -2em;

    animation: 1s ease-out 0s 1 slideInFromBottom;
}